.column {
  float: left;
  width: 50%;
  .about__text {
    font-size: 14px;
    line-height: 26px;
    text-align: justify;
    width: 70%;
    margin-bottom: 2rem;
  }
}

.left__column {
  background-color: var(--color-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.smiles {
  width: 133px;
  height: 120px;
  margin: 0;
  display: block;
  background-image: url('../../assets/smilies.png');
  background-repeat: no-repeat;
  border: 0px;
}
