.form {
  align-items: center;
  background-color: var(--color-light-grey);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form form {
  background-color: var(--color-white);
  max-width: 21rem;
  padding: 2.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  font-size: var(--font-size);
}

.form .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form a {
  font-size: var(--font-size);
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .error-message {
  color: var(--color-red);
  display: block;
  margin-top: 0.3rem;
  font-size: var(--font-size-error);
  max-width: 190px;
}
