.column {
  float: left;
  width: 50%;
}

.row:after {
  display: table;
  clear: both;
}
.left-column {
  background-color: var(--color-white);
  height: 100vh;
}

.circles {
  width: 133px;
  height: 78px;
  margin: auto;
  display: block;
  background-image: url('../../assets/smilies.png');
  background-repeat: no-repeat;
  border: 0px;
}

.forgot {
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.apple-store {
  margin: auto;
  display: block;
  height: 38px;
  width: 120px;
  background-color: #ffffff00;
  border: none;
}

.center {
  text-align: center;
}

.title {
  font-size: 30px;
  padding-bottom: 4rem;
}
