.column {
  float: left;
  width: 50%;
}

.row:after {
  display: table;
  clear: both;
}
.left-column {
  background-color: var(--color-white);
  height: 100vh;
}

.circles {
  width: 133px;
  height: 78px;
  margin: auto;
  display: block;
  background-image: url('../../assets/smilies.png');
  background-repeat: no-repeat;
  border: 0px;
}

.explanation {
  font-size: 14px;
  line-height: 26px;
}

.forgot {
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.center {
  text-align: center;
  line-height: 2rem;
}
